body {
    margin: 0px;
    /* background-color: #11bd64; */
    /* background-image: url("../images/background.jpg"); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,121,9,1) 35%, rgba(15,183,38,1) 65%, rgba(0,255,72,1) 100%);
    -webkit-transform: perspective(500px);
    -webkit-transform-style: preserve-3d;
}

.box {
    display: inline-flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 10%;
    border: solid 5px;
    border-color: black;
    margin: 10px;
    text-decoration: none;
    /* text-align: center; */
}

.box:hover {
    opacity: 50%;

}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkgray; */
    
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    /* align-items: center; */
}

.a-tag-headers {
color: black;
}

img {
    width: 210px;
    height: 140px;

}

button {
    width: 50%;
    display: block;
    margin: 10px auto;
}
.coin {
background-image: url("https://i.imgur.com/Iw5eEoh.png");
background-size: 100% 100%;
border-radius: 100%;
height: 100px;
margin: 300px auto 0;
position: relative;
width: 100px;
-webkit-transition: .5s linear;
-webkit-transform-style: preserve-3d;
}
.bwd {
transform: rotateX(180deg);
}
.coin:after {
background-image: url("https://i.imgur.com/loMp8t7.png?1");
background-size: 100% 100%;
bottom: 0;
content: '';
left: 45px;
position: absolute;
top: 0;
width: 5px;
z-index: -10;
-webkit-transform: rotateY(-90deg);
-webkit-transform-origin: 100% 50%;
}
.coin:before {
  background-image: url("https://i.imgur.com/loMp8t7.png?1");
  background-size: 100% 100%;
  border-radius: 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  -webkit-transform: translateZ(-5px);
}

.bwd {
    transform: rotateX(180deg);
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 55% 70%;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.headToHead { animation: headToHead 5s linear; transform: rotateX(40deg); }
@keyframes headToHead {
    0% { transform: translateY(0px) rotateX(40deg); }
    33% { transform: translateY(-125px) rotateX(1820deg); }
    66% { transform: translateY(-250px) rotateX(2730deg); }
    100% { transform: translateY(0px) rotateX(3640deg); }
}

.headToTail { animation: headToTail 5s linear; transform: rotateX(220deg); }
@keyframes headToTail {
    0% { transform: translateY(0px) rotateX(40deg); }
    33% { transform: translateY(-125px) rotateX(1820deg); }
    66% { transform: translateY(-250px) rotateX(2730deg); }
    100% { transform: translateY(0px) rotateX(3820deg); }
}

.tailToHead { animation: tailToHead 5s linear; transform: rotateX(40deg); }
@keyframes tailToHead {
    0% { transform: translateY(0px) rotateX(220deg); }
    33% { transform: translateY(-125px) rotateX(1820deg); }
    66% { transform: translateY(-250px) rotateX(2730deg); }
    100% { transform: translateY(0px) rotateX(3640deg); }
}

.tailToTail { animation: tailToTail 5s linear; transform: rotateX(220deg); }
@keyframes tailToTail {
    0% { transform: translateY(0px) rotateX(220deg); }
    33% { transform: translateY(-125px) rotateX(1820deg); }
    66% { transform: translateY(-250px) rotateX(2730deg); }
    100% { transform: translateY(0px) rotateX(3820deg); }
}

#row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
}

@media only screen and (max-width: 900px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 40%;
        
        
        
    }
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i%7CRubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
}
.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}
@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}
.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 55% 70%;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url(https://static.clubs.nfl.com/image/upload/v1598538706/packers/xl5sfcttvdhuylqeqeji.png);
}
.card:nth-child(2):before {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F1%2Fa%2F2%2F1120312-free-nba-basketball-wallpaper-2018-1920x1080-hd-1080p.jpg&f=1&nofb=1);
}
.card:nth-child(3):before {
    background-image: url(https://i.pinimg.com/originals/06/31/3c/06313c08cd3629395e803bb673cde1cb.jpg);
}
.card:nth-child(4):before {
    background-image: url(https://pbs.twimg.com/media/FOgUbFcXsAQot-u.jpg:large);
    
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}
.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}
.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}
.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
.btn:hover {
    background-color: #0D0D0D;
}
.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover, .card:focus-within {
        align-items: center;
    }
    .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content, .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}
.coinBtn {
  display: flex;
}

.coinBtn button {
  width: 80px;
  height: 50px;
}

#heads {
  margin-right: 70px;
}




